<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout-base(~{::title}, ~{::div})}">
<head>
    <title>Categorias de Despesa</title>
</head>
<body>
<div>
    <h1 class="mb-3">Categorias de Despesa</h1>

    <a th:href="@{/categorias/nova}" class="btn btn-primary mb-3">Nova Categoria</a>

    <table class="table table-striped table-hover table-bordered">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="categoria : ${listaDeCategorias}">
            <td th:text="${categoria.id}">1</td>
            <td th:text="${categoria.nome}">Nome Teste</td>
            <td>
                <a th:href="@{/categorias/editar/{id}(id=${categoria.id})}" class="btn btn-warning btn-sm">Editar</a>
                <a th:href="@{/categorias/excluir/{id}(id=${categoria.id})}" class="btn btn-danger btn-sm">Excluir</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>