<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout-base(~{::title}, ~{::div})}">
<head>
    <title>Lista de Contas</title>
</head>
<body>
<div>
    <h1 class="mb-3">Minhas Contas</h1>
    <a th:href="@{/contas/novo}" class="btn btn-primary mb-3">Nova Conta</a>

    <table class="table table-striped table-hover table-bordered">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Nome da Conta</th>
            <th>Tipo</th>
            <th>Saldo Atual</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="conta : ${listaDeContas}">
            <td th:text="${conta.id}"></td>
            <td th:text="${conta.nomeConta}"></td>
            <td th:text="${conta.tipo}"></td>
            <td th:text="${'R$ ' + #numbers.formatDecimal(conta.saldoAtual, 1, 'POINT', 2, 'COMMA')}"></td>
            <td>
                <a th:href="@{/contas/editar/{id}(id=${conta.id})}" class="btn btn-warning btn-sm">Editar</a>
                <a th:href="@{/contas/excluir/{id}(id=${conta.id})}" class="btn btn-danger btn-sm">Excluir</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>